<div class="miniCart">
    <div class="miniCartContainer1">
        <div>Items: {{ shopCart.getAmount() }}</div>
        <div>Sum: {{ shopCart.getSum() | currency }}</div>
    </div>
    <div class="miniCartContainer2">
        <md-button class="md-raised" ng-disabled="shopCart.getCart().length < 1" ng-click="shopCart.emptyCart()">Empty cart</md-button>
        <md-button class="md-raised" ng-disabled="getBuy() || getCart().length < 1" ng-click="checkout()">
            <span ng-show="getBuy()">Buy</span>
            <span ng-show="!getBuy()">Checkout</span>
        </md-button>
    </div>
</div>