html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.header {
  padding: 15px;
}

.header img {
  display: inline-block;
}

.header h1 {
  display: inline-block;|
}

.main {
  background-color: #f2f2f2 ;
  padding: 40px 0;
}

.main h1 {
  color: #F65A5B ;
  font-size: 42px;
  margin: 0 0 80px 0;
  padding: 20px 0;
  line-height: 60px;
  width: 100%;
}

.main h2 {
  background-color: #DDDDDD ;
  color: #999999 ;
  font-size: 20px;
  margin: 0 0 40px 0;
  padding: 20px 0;
}

h3 {
  font-size: 18px;
  text-align: center;
}

.footer {
  text-align: center;
  margin: 80px 0 110px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer img {
  margin: 0 10px;
}

.container-fluid {
  alignment: center;
  width: auto;
}

.book {
  padding: 2px;
  float: left;
  width: 250px;
}

.md-button.md-fab.md-mini {
  min-height: 10px;
  min-width: 10px;
  line-height: 1%;
  width: 2rem;
  height: 2rem;
  z-index: auto;
}

.cartContainer {
  margin: auto;
  min-width: 350px;
  max-width: 1200px;
}

.cart {
  margin: auto;
  min-width: 150px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 1%;
  border: 1px solid #F65A5B;
}

.cartTitle {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartImg {
  width: 100px;
  height: 150px;
  flex: none;
}

.cartInfo {
  padding: 0 12px 12px 12px;
  white-space: nowrap;
  overflow: hidden;
}

.cartAuthor {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartDescription {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

img#bookImg {
  height: 100%;
  width: 100%;
}

.imgContainer {
  width: 200px;
  height: 300px;
}

.cartAmount {
  text-align: center;
  justify-content: space-around;
}

.emptyCart {
  padding: 1%;
}

.cartTotal {
  font-size: 16px;
  padding-top: 20px;
}

md-content {
  padding: 10px;
}
.aboutContainer {
  margin: auto;
  min-width: 350px;
  max-width: 1100px;
}

.btnHolder {
  padding-left: 15px;
  padding-top: 100px;
}

.singlePrice {
  font-size: 18px;
  align-self: center;
}

.singleBuy {
  padding-right: 5px;
  align-self: center;
}

.miniCartContainer1,
.miniCartContainer2{
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buyContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

#btm {
  padding-bottom: 10px;
}

.miniCart {
  padding: 1px;
  background-color: white;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 5px solid #F65A5B;
}

.flex-container {
  padding: 10px;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1800px;
}

.flex-item {
  background: #FFFFFF;
  padding: 5px;
  width: 150px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
  color: #ffffff;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.bookInfo {
  width: 200px;
  float: left
}

.singleBookContainer {
  padding: 10px;
}

.singleBook {
  margin: auto;
  max-width: 1200px;
  min-width: 220px;
}

#bookImage {
  margin-top: unset;
  margin-left: 5px;
}

#bookDes {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

#bookTitle {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bookAuthor {
  font-size: 12px;
  padding-top: 5px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bookPrice {
  font-size: 18px;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  min-width: 350px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
