

    <div class="container">


        <div class="row">

            <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">

            </div>

            <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">

            </div>




    <div ng-repeat="book in allBooks"><div style="float: left;">
        <h3 ng-bind="book.title"></h3>

        <img ng-src="{{ book.image }}" />

        <p>Description: {{book.description}}</p>
        <p>Price: {{book.price | currency}}</p>
        <button class="btn btn-info" ng-click="addToCart(book)">Add to cart</button>
    </div>
    </div><br><br>
        </div><br><br></div><br><br>
    <button class="btn btn-danger" ng-click="checkOut()">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </button>
</div>
