



    <div class="container">


        <div class="row">

            <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">

            </div>

            <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">


            </div>
<div>
    <div class="col-sm-4" style="background-color:lavender;">
    <div ng-repeat="book in books">
        <h3 ng-bind="book.title"></h3>

        <p>Description: {{book.description}}</p>
        <p>Price: {{book.price | currency}}</p>
        <button class="btn btn-info" ng-click="addToCart(book)">Add to cart</button>
    </div>
    </div>
    <a href="#/checkout" class="btn btn-danger">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
</div>
        </div>